.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  form{
    margin-bottom: 10px;
  }
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input,
  form select {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  form button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1e90ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0077c2;
  }
  #msg{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    
  }
  .success{
    color: green;
  }
  .error{
    color: red;
  }
#pLink{
  margin-top: 5px;

}

 a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  